:root {
  /* ### Primary */

  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated: hsl(229, 23%, 23%);
  --dark-grayish: hsl(227, 10%, 46%);

  /* ### Neutral */

  --dark-gray: hsl(0, 0%, 59%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  
}
body {
  background-color: var(--dark-cyan);
  background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
  background-position: right 49vw bottom 20vh, left 48vw top 54vh;
  background-repeat: no-repeat;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
}
hr{
  width: 100%;
  border: none;
  height: 1px;
  background-color: rgba(122, 119, 119,0.2)
}
.card {
  background-color: white;
  margin: auto;
  margin-top: 20rem;
  border-radius: 1rem;
  width: 20.2rem;
  height: 23.1rem;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.card .card-content h1 {
  font-size: 18px;
  margin-bottom: 0.8rem;
}

/* --- HEADER --- */
.card .card-content .card-head {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 8.6rem;
  background-image: url(/images/bg-pattern-card.svg);
}

.card .card-content .card-head .card-image {
  text-align: center;
}
.card .card-content .card-head .card-image img {
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  left: 35.2%;
  top: 23.5%;

  
}


/* --- MAIN --- */

.card .card-content .card-main {
  text-align: center;
  background-color: white;
  padding-top: 4.4rem;
}

.card .card-content .card-main p {
  text-align: center;
  background-color: white;
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}
.card .card-content .card-main h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.card .card-content .card-main span {
font-weight: 400;
}


/* --- FOOTER --- */

.card .card-content .card-footer {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 1.4rem;
  border-radius: 1rem;
  text-align: center;
}
.card .card-content .card-footer h2{
  font-size:18px;
  margin-bottom: 0.4rem; 
}

.card .card-content .card-footer p{
  font-size:11px;
  letter-spacing: 1.2px;
}

.attribution p {

  color: black;
   padding-top: 3rem;
   margin: auto;
   text-align: center;
   font-size:13px;             
   margin-bottom: 4rem;      
}
.attribution a { 
  color: hsl(357, 100%, 50%);                  
}

@media only screen and (min-width: 1100px) {
  .card {
    width: 22rem;
    height: 23.1rem;
  }

}